* {
    padding:0;
    margin:0;
}
body {
    background-color: #f3f5f7;
}
.w {
    width: 1200px;
    margin:auto;
}
.header {
    height: 42px;
    margin:30px auto;
}
.logo {
    width: 198px;
    height: 42px;
    float: left;
    
}
li {
    list-style: none;
    float: left;
    margin:0px 20px;
}
.nav {
    float: left;
    margin-left: 60px;

}
a {
    text-decoration: none;
}
.nav ul li a {
    display: block;
    height: 42px;
    line-height: 42px;
    font-size: 18px;
    color: black;
    
}
.nav ul li a:hover {
    border-bottom: 2px solid #00a4ff;
    color: #00a4ff;
}
/* 搜索模块 */
.search {
    float: left;
    width: 412px;
    height: 42px;
    margin-left: 70px;
}
.search input {
    float: left;
    width: 345px;
    height: 40px;
    border:1px solid #00a4ff;
    border-right: 0;
    color:#bfbfbf;
    font-size: 14px;
    padding-left: 15px;
}
.search button {
    float: left;
    width: 50px;
    height: 42px;
    background-color: blue;
    border:0;
    background:url(images/btn.png)
}
.user {
    float: right;
    line-height:42px ;
    height: 42px;
    margin-left: 30px;
    font-size: 14px;
    color:#666;
    vertical-align: middle;
}
.banner {
    height: 421px;
    background-color: #1c036c;
}
.banner .w {
    height: 421px;
    background:url(images/banner2_20190819_210028.png) no-repeat top center;
}